* {
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    color: #1f1f1f;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
nav,
main,
footer {
    width: 90%;
    max-width: 1000px;
    min-width: 320px;
    margin: 0 0 20px 0;
    padding: 20px;
}

header {
    background-color: rgb(236, 248, 255);
}

header h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

header p {
    text-align: justify;
    font-size: 18px;
}

nav {
    text-align: center;
    background-color: #163a5c;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: pink;
}

main {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

ul {
    line-height: 1.25;
}

form {
    padding: 20px;
    border-radius: 8px;
}

#resultados {
    display: none;
    padding: 20px;
    border-radius: 8px;
}

.data {
    display: flex;
    align-items: center;
    gap: 5px;
}

.destino {
    display: flex;
    align-items: center;
    gap: 5px;
}

.capital {
    display: flex;
    align-items: center;
    gap: 5px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="datetime-local"],
input[type="number"],
select {
    width: 100%;
    padding: 6px 8px;
    margin-top: 4px;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 10px 8px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #1d4ed8;
}

.resultados{
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    background-color: #163a5c;
    color: white;
    margin-bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

footer a:hover {
    color: pink;
}